# Basic packages
numpy
pandas
scipy



# System
ipython-autotime
watermark
requests
datetime
beeprint



# Files
#xlrd
#openpyxl
#jellyfish



# EDA
sweetviz
seaborn
matplotlib
plotly
plotly.express
scienceplots



# ML
sklearn
scikit-learn
imblearn


# NN
#openai
transformers
nltk

# Updated
ipywidgets
folium
haversine
geopandas
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
